<!-- <div id="navbar" th:fragment="header">
	<div class="container">
	  <a href="#" th:text="#{ams}">ArticleManagement</a>
	  <a href="#home" th:text="#{nav-category}">Category</a>
	  <a href="?lang=kh">Khmer</a>
	  <a href="?lang=en">English</a>
	</div>
	</div> -->
	
	
	
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" th:fragment="header">
	<div class="container">
    <!-- Navbar brand -->
    <a href="/article.html" th:text="#{ams}">ArticleManagement</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/category.html"​​ th:text="#{nav-category}">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?lang=kh">Khmer</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="?lang=en">English</a>
            </li>

        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->
</div>
</nav>
<!--/.Navbar-->