<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>

</head>
<body>
	<div layout:fragment="content">
	<div class="container">
	<br/>
	<br/>
	<h1 class="text-center" th:text="${formAdd}? #{add-title} : #{update-title}">Add Article</h1>
	<a href="/article" class="btn btn-info"​ th:text="#{btnback}">Back to List</a>
	<form th:action="${formAdd}?'/add':'/update'" enctype="multipart/form-data" method="post" >
		
		  <div class="form-group">
		    <label for="id" th:text="#{ID}">ID</label><span th:if="${#fields.hasErrors('article.id')}">ID can not be Blank</span>
		    <input type="text" class="form-control" th:field="${article.id}" placeholder="Enter id">
		  </div>
		  <div class="form-group">
		    <label for="title" th:text="#{title}">title</label><span th:if="${#fields.hasErrors('article.title')}">Title can not be Blank</span>
		    <input type="text" class="form-control" th:field="${article.title}" th:placeholder="#{p-title}">
		  </div>
		  
		  <div class="form-group">
		    <label for="category" th:text="#{category}">Category</label>
		    <select class="form-control" th:field="${article.category.id}" class="browser-default">
		      <option th:each="category :${categories}" th:value="${category.id}" th:text="${category.name}">1</option>
		    </select>
		  </div>
		  
		  <div class="form-group">
		    <label for="des" th:text="#{des}">Description</label><span th:if="${#fields.hasErrors('article.description')}">Description can not be Blank</span>
		    <input type="text" class="form-control" th:field="${article.description}" th:placeholder="#{p-des}">
		  </div>
		  <div class="form-group">
		    <label for="author" th:text="#{author}">Author</label><span th:if="${#fields.hasErrors('article.author')}"> Author can not be Blank</span>
		    <input type="text" class="form-control" th:field="${article.author}" th:placeholder="#{p-author}">
		  </div>
		  <input type="submit" class="btn btn-primary" th:value="${formAdd}? #{btnSave}: #{btnUpdate}">
		  <input type="hidden" th:field="${article.thumbnail}"/> 
		  <input type="file" name="file" multiple="multiple" accept="image/*">
		  
</form>
		
	</div>
	
	</div>
	<!-- End container -->
</body>
</html>