<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>

</head>
<body>
	<div layout:fragment="content">
		
	<div class="container">
	<br>
	<h1 class="text-center" th:text="#{title-list}">Article List</h1>
	<div class="row">
		<div class="col-sm-12">
			
			<a href="/add" class="btn btn-info" th:text="#{btnAddNew}">Add New</a>
			</div>
	</div>
			<table class="table table-bordered">
	    <thead>
	      <tr>
	        	<th th:text="#{ID}">ID</th>
				<th th:text="#{title}">Name</th>
				<th th:text="#{category}">Category</th>
				<th th:text="#{des}">Description</th>
				<th th:text="#{author}">Author</th>
				<th th:text="#{date}">Created Date</th>
				<th th:text="#{image}">Image</th>
				<th th:text="#{action}">Action</th>
	      </tr>
	    </thead>
	    <tbody>
	     <tr th:each="article: ${articles}" th:object="${article}">
				<td th:text="*{id}">ID</td>
				<td th:text="*{title}">title</td>
				<td th:text="*{category.name}">Category</td>
				<td th:text="*{description}">description</td>
				<td th:text="*{author}">author</td>
				<td th:text="*{created_date}">date</td>
				<td> <img th:src="*{thumbnail}" style="width:100px;height:100px"/></td>
				<td><a th:href="@{/delete/{id}(id=*{id})}" class="btn btn-danger" th:text="#{btnDelete}">Delete</a>
				 <a th:href="@{/update/{id}(id=*{id})}" class="btn btn-info" th:text="#{btnUpdate}">Update</a>
				 <a class="btn btn-success" th:text="#{btnView}">View</a></td>
			</tr>
	      
	    </tbody>
	  </table>
	
	</div>
	<!-- End container -->
	</div>
	<!-- End fragment -->
</body>
</html>