<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">
<head>

</head>
<body>
	<div layout:fragment="content">
		</br>
		<h1 class="text-center">Add New Category</h1>
		<div class="container" style="height:400px; width:50%">
		<form action="/category.html" method="post">
			<div class="md-form">
			    <input type="text" class="form-control" th:field="${category.name}" placeholder="Enter Catgory">
			</div>
			<div class="md-form">
			    <input type="submit" value="Save" class="btn btn-success text-center">
			</div>
		</form>	
		
		<div class="card">
    <div class="card-body">

        <div class="table-wrapper-2">

            <!--Table-->
            <table class="table table-responsive-md">
                <thead class="mdb-color lighten-4">
                    <tr>
                        <th class="th-lg">ID</th>
                        <th class="th-lg">Name</th>
                        <th class="th-lg">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category:${categories}" th:object="${category}">
                        <td th:text="*{id}">New York City</td>
                        <td th:text="*{name}">Web Designer</td>
                        <td>23</td>
                    </tr>
                </tbody>
            </table>
            <!--Table-->

        </div>

    </div>
</div>
<!-- End tale -->
		</div>
	</div><!-- End fragment -->		
</body>
</html>